<a href="https://colab.research.google.com/github/111718105068/ranjith/blob/main/day10_practice_exercies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How many movies are listed in the titles dataframe?

In [7]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Count the number of rows in the dataframe
num_movies = len(df)

# Print the number of movies
print(num_movies)

244914

What are the earliest two films listed in the titles dataframe?

In [8]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Sort the dataframe by release date
df = df.sort_values(by=['year'], ascending=True)

# Print the first two rows of the dataframe
print(df.head(2))

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

How many movies have the title "Hamlet"?

In [9]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Filter the dataframe to only include movies with the title "Hamlet"
df_filtered = df[df['title'] == "Hamlet"]

# Count the number of rows in the filtered dataframe
num_movies = len(df_filtered)

# Print the number of movies
print(num_movies)

20

How many movies are titled "North by Northwest"?

In [12]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Filter the dataframe to only include movies with the title "North by Northwest"
df_filtered = df[df['title'] == "North by Northwest"]

# Count the number of rows in the filtered dataframe
num_movies = len(df_filtered)

# Print the number of movies
print(num_movies)

1

# When was the first movie titled "Hamlet" made?

In [13]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Filter the dataframe to only include movies with the title "Hamlet"
df_filtered = df[df['title'] == "Hamlet"]

# Sort the filtered dataframe by release date
df_filtered = df_filtered.sort_values(by=['year'], ascending=True)

# Get the first row of the filtered dataframe
first_movie = df_filtered.iloc[0]

# Print the release year of the first movie
print(first_movie['year'])

1910

# List all of the "Treasure Island" movies from earliest to most recent python

In [14]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Filter the dataframe to only include movies with the title "Treasure Island"
df_filtered = df[df['title'] == "Treasure Island"]

# Sort the filtered dataframe by release date
df_filtered = df_filtered.sort_values(by=['year'], ascending=True)

# Print the title and release year of each movie in the filtered dataframe
for index, row in df_filtered.iterrows():
    print(f"{row['title']} ({row['year']})")

Treasure Island (1918)
Treasure Island (1920)
Treasure Island (1934)
Treasure Island (1950)
Treasure Island (1972)
Treasure Island (1973)
Treasure Island (1985)
Treasure Island (1999)

# How many movies were made in the year 1950?

In [15]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Filter the dataframe to only include movies made in the year 1950
df_filtered = df[df['year'] == 1950]

# Count the number of rows in the filtered dataframe
num_movies = len(df_filtered)

# Print the number of movies
print(num_movies)

1113

# How many movies were made from 1950 through 1959?

In [16]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Filter the dataframe to only include movies made between 1950 and 1959
df_filtered = df[(df['year'] >= 1950) & (df['year'] <= 1959)]

# Count the number of rows in the filtered dataframe
num_movies = len(df_filtered)

# Print the number of movies
print(num_movies)

12934

# In what years has a movie titled "Batman" been released?

In [17]:
import pandas as pd

# Read the titles dataframe
df = pd.read_csv("titles.csv")

# Filter the dataframe to only include movies with the title "Batman"
df_filtered = df[df['title'] == "Batman"]

# Get the release year of each movie in the filtered dataframe
release_years = df_filtered['year'].to_list()

# Print the release years
print(release_years)

[1943, 1989]

# How many roles were there in the movie "Inception"?

In [18]:
import pandas as pd

# Read the cast dataframe
df = pd.read_csv("cast.csv")

# Filter the dataframe to only include cast members from the movie "Inception"
df_filtered = df[df['title'] == "Inception"]

# Count the number of rows in the filtered dataframe
num_roles = len(df_filtered)

# Print the number of roles
print(num_roles)

78

# How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [19]:
import pandas as pd

# Read the cast dataframe
df = pd.read_csv("cast.csv")

# Filter the dataframe to only include cast members from the movie "Inception"
df_filtered = df[df['title'] == "Inception"]

# Count the number of roles that are NOT ranked by an "n" value
num_roles_not_ranked = len(df_filtered[df_filtered['n'].isnull()])

# Print the number of roles that are NOT ranked by an "n" value
print(num_roles_not_ranked)

27

# But how many roles in the movie "Inception" did receive an "n" value?

In [20]:
import pandas as pd

# Read the cast dataframe
df = pd.read_csv("cast.csv")

# Filter the dataframe to only include cast members from the movie "Inception"
df_filtered = df[df['title'] == "Inception"]

# Count the number of roles that did receive an "n" value
num_roles_ranked = len(df_filtered[df_filtered['n'].notnull()])

# Print the number of roles that did receive an "n" value
print(num_roles_ranked)

51

# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value

In [21]:
import pandas as pd

# Read the cast dataframe
df = pd.read_csv("cast.csv")

# Filter the dataframe to only include cast members from the movie "North by Northwest"
df_filtered = df[df['title'] == "North by Northwest"]

# Filter the dataframe to only include roles that have a numeric "n" value
df_filtered = df_filtered[df_filtered['n'].notnull()]

# Sort the dataframe by the "n" value
df_filtered = df_filtered.sort_values(by=['n'], ascending=True)

# Print the cast of "North by Northwest" in their correct "n"-value order
for index, row in df_filtered.iterrows():
    print(f"{row['name']} ({row['n']})")

Cary Grant (1.0)
Eva Marie Saint (2.0)
James Mason (3.0)
Jessie Royce Landis (4.0)
Leo G. Carroll (5.0)
Josephine Hutchinson (6.0)
Philip Ober (7.0)
Martin Landau (8.0)
Adam Williams (9.0)
Edward Platt (10.0)
Robert Ellenstein (11.0)
Les Tremayne (12.0)
Philip Coolidge (13.0)
Patrick McVey (14.0)
Edward Binns (15.0)
Ken Lynch (16.0)

In [22]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the movie "Sleuth" released in 1972
sleuth_1972_cast = cast_df[(cast_df['title'] == 'Sleuth') & (cast_df['year'] == 1972)]

# Sort the filtered dataframe by the "n" values in ascending order
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')

# Display the entire cast of the 1972 film "Sleuth" in "n"-value order
print(sleuth_1972_cast_sorted[['n', 'name', 'character']])

           n                name                   character
1705394  1.0    Laurence Olivier                 Andrew Wyke
326773   2.0       Michael Caine                 Milo Tindle
373876   3.0      Alec Cawthorne           Inspector Doppler
1465483  4.0  John (II) Matthews  Detective Sergeant Tarrant
2724553  5.0  Eve (III) Channing             Marguerite Wyke
1448690  6.0        Teddy Martin      Police Constable Higgs

In [23]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the 2007 version of the movie "Sleuth"
sleuth_2007_cast = cast_df[(cast_df['title'] == 'Sleuth') & (cast_df['year'] == 2007)]

# Sort the filtered dataframe by the "n" values in ascending order
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')

# Display the entire cast of the 2007 version of "Sleuth" in "n"-value order
print(sleuth_2007_cast_sorted[['n', 'name', 'character']])

           n                 name          character
326774   1.0        Michael Caine             Andrew
1293634  2.0             Jude Law               Milo
1805907  3.0        Harold Pinter        Man on T.V.
260242   NaN      Kenneth Branagh  Other Man on T.V.
373877   NaN  Alec (II) Cawthorne  Inspector Doppler
2724552  NaN    Eve (II) Channing    Marguerite Wyke
3370424  NaN    Carmel O'Sullivan             Maggie

In [24]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of the silent 1921 version of "Hamlet"
hamlet_1921_cast = cast_df[(cast_df['title'] == 'Hamlet') & (cast_df['year'] == 1921)]

# Count the number of credited roles in the silent 1921 version of "Hamlet"
num_roles_hamlet_1921 = len(hamlet_1921_cast)

print("Number of credited roles in the silent 1921 version of 'Hamlet':", num_roles_hamlet_1921)

Number of credited roles in the silent 1921 version of 'Hamlet': 9

In [25]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of Kenneth Branagh's 1996 version of "Hamlet"
branagh_hamlet_cast = cast_df[(cast_df['title'] == 'Hamlet') & (cast_df['year'] == 1996)]

# Count the number of credited roles in Branagh's 1996 version of "Hamlet"
num_roles_branagh_hamlet = len(branagh_hamlet_cast)

print("Number of credited roles in Branagh's 1996 'Hamlet':", num_roles_branagh_hamlet)

Number of credited roles in Branagh's 1996 'Hamlet': 54

In [26]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only the cast of all versions of "Hamlet"
hamlet_roles = cast_df[cast_df['title'] == 'Hamlet']

# Count the number of "Hamlet" roles in all film credits through history
num_hamlet_roles = len(hamlet_roles)

print("Number of 'Hamlet' roles listed in all film credits through history:", num_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 342

In [27]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only actors who played the role of "Ophelia"
ophelia_actors = cast_df[cast_df['character'] == 'Ophelia']

# Count the number of people who have played the role of "Ophelia"
num_ophelia_actors = len(ophelia_actors['name'].unique())

print("Number of people who have played the role of 'Ophelia':", num_ophelia_actors)

Number of people who have played the role of 'Ophelia': 115

In [28]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only actors who played a role called "The Dude"
the_dude_actors = cast_df[cast_df['character'] == 'The Dude']

# Count the number of people who have played a role called "The Dude"
num_the_dude_actors = len(the_dude_actors['name'].unique())

print("Number of people who have played a role called 'The Dude':", num_the_dude_actors)

Number of people who have played a role called 'The Dude': 19

In [29]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only actors who played a role called "The Stranger"
the_stranger_actors = cast_df[cast_df['character'] == 'The Stranger']

# Count the number of people who have played a role called "The Stranger"
num_the_stranger_actors = len(the_stranger_actors['name'].unique())

print("Number of people who have played a role called 'The Stranger':", num_the_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

In [30]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles played by Sidney Poitier
sidney_poitier_roles = cast_df[cast_df['name'] == 'Sidney Poitier']

# Count the number of roles played by Sidney Poitier throughout his career
num_sidney_poitier_roles = len(sidney_poitier_roles)

print("Number of roles played by Sidney Poitier throughout his career:", num_sidney_poitier_roles)

Number of roles played by Sidney Poitier throughout his career: 43

In [31]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles played by Judi Dench
judi_dench_roles = cast_df[cast_df['name'] == 'Judi Dench']

# Count the number of roles played by Judi Dench
num_judi_dench_roles = len(judi_dench_roles)

print("Number of roles played by Judi Dench:", num_judi_dench_roles)

Number of roles played by Judi Dench: 55

In [32]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only supporting roles (n=2) played by Cary Grant in the 1940s
cary_grant_supporting_roles_1940s = cast_df[(cast_df['name'] == 'Cary Grant') & (cast_df['n'] == 2) & (cast_df['year'] >= 1940) & (cast_df['year'] <= 1949)]

# Sort the filtered dataframe by year
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')

# Display the supporting roles played by Cary Grant in the 1940s in order by year
print(cary_grant_supporting_roles_1940s_sorted[['year', 'title']])

        year             title
871423  1940  My Favorite Wife
871433  1941    Penny Serenade

In [33]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only leading roles (n=1) played by Cary Grant in the 1940s
cary_grant_leading_roles_1940s = cast_df[(cast_df['name'] == 'Cary Grant') & (cast_df['n'] == 1) & (cast_df['year'] >= 1940) & (cast_df['year'] <= 1949)]

# Sort the filtered dataframe by year
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')

# Display the leading roles played by Cary Grant in the 1940s in order by year
print(cary_grant_leading_roles_1940s_sorted[['year', 'title']])

        year                                 title
871448  1940               The Howards of Virginia
871407  1940                       His Girl Friday
871450  1940                The Philadelphia Story
871438  1941                             Suspicion
871452  1942                  The Talk of the Town
871429  1942                 Once Upon a Honeymoon
871398  1943                     Destination Tokyo
871422  1943                             Mr. Lucky
871430  1944                      Once Upon a Time
871390  1944                  Arsenic and Old Lace
871425  1944             None But the Lonely Heart
871424  1946                         Night and Day
871427  1946                             Notorious
871444  1947      The Bachelor and the Bobby-Soxer
871445  1947                     The Bishop's Wife
871421  1948  Mr. Blandings Builds His Dream House
871402  1948          Every Girl Should Be Married
871411  1949                I Was a Male War Bride

In [34]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles from the 1950s
roles_in_1950s = cast_df[(cast_df['year'] >= 1950) & (cast_df['year'] <= 1959)]

# Count the number of roles available for actors in the 1950s
num_roles_in_1950s = len(roles_in_1950s)

print("Number of roles available for actors in the 1950s:", num_roles_in_1950s)

Number of roles available for actors in the 1950s: 215471

In [35]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles for actresses from the 1950s
actress_roles_in_1950s = cast_df[(cast_df['year'] >= 1950) & (cast_df['year'] <= 1959) & (cast_df['type'] == 'actress')]

# Count the number of roles available for actresses in the 1950s
num_actress_roles_in_1950s = len(actress_roles_in_1950s)

print("Number of roles available for actresses in the 1950s:", num_actress_roles_in_1950s)

Number of roles available for actresses in the 1950s: 57733

In [36]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only leading roles (n=1) from the beginning of film history through 1980
leading_roles_until_1980 = cast_df[(cast_df['n'] == 1) & (cast_df['year'] <= 1980)]

# Count the number of leading roles available from the beginning of film history through 1980
num_leading_roles_until_1980 = len(leading_roles_until_1980)

print("Number of leading roles (n=1) available from the beginning of film history through 1980:", num_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 65140

In [37]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only non-leading roles (n is not equal to 1) from the beginning of film history through 1980
non_leading_roles_until_1980 = cast_df[(cast_df['n'] != 1) & (cast_df['year'] <= 1980)]

# Count the number of non-leading roles available from the beginning of film history through 1980
num_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)

print("Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980:", num_non_leading_roles_until_1980)

Number of non-leading roles (n is not equal to 1) available from the beginning of film history through 1980: 1117667

In [38]:
import pandas as pd

# Read the CSV file containing cast information into a Pandas dataframe (if not already done)
cast_df = pd.read_csv('cast.csv')

# Filter the dataframe to include only roles through 1980 with no numeric "n" rank
roles_without_n_rank_until_1980 = cast_df[(cast_df['n'].isnull()) & (cast_df['year'] <= 1980)]

# Count the number of roles through 1980 that did not have a numeric "n" rank
num_roles_without_n_rank_until_1980 = len(roles_without_n_rank_until_1980)

print("Number of roles through 1980 without a numeric 'n' rank:", num_roles_without_n_rank_until_1980)

Number of roles through 1980 without a numeric 'n' rank: 448347