<a href="https://colab.research.google.com/github/111718105068/ranjith/blob/main/Day2_practices_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNCTIONS

# 1. Write a python Function to list even and odd numbers in a list.

In [ ]:
def list_even_odd(list1):
  even_numbers = [number for number in list1 if number % 2 == 0]
  odd_numbers = [number for number in list1 if number % 2 != 0]

  return even_numbers, odd_numbers


list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers, odd_numbers = list_even_odd(list1)

print("The even numbers are:", even_numbers)
print("The odd numbers are:", odd_numbers)

The even numbers are: [2, 4, 6, 8, 10]
The odd numbers are: [1, 3, 5, 7, 9]

# 2. Write and run a Python program that asks the user to enter 8 integers (one at a time), and then prints out how many of those integers were even numbers. For example, if the user entered 19, 6, 9, 20, 13, 7, 6, and 1, then your program should print out 3 since 3 of those numbers were even.

In [ ]:
even_numbers = 0

for i in range(8):
  number = int(input("Enter an integer: "))
  if number % 2 == 0:
    even_numbers += 1

print("The number of even numbers is:", even_numbers)

Enter an integer: 4
Enter an integer: 19
Enter an integer: 6
Enter an integer: 9
Enter an integer: 20
Enter an integer: 13
Enter an integer: 7
Enter an integer: 6
The number of even numbers is: 4

# 3. Write a Python program where you take any positive integer n, if n is even, divide it by 2 to get n/2. If n is odd, multiply it by 3 and add 1 to obtain 3n+1. Repeat the process until you reach 1.

In [ ]:
def collatz(n):
  """
  Prints the Collatz sequence starting from n.

  Args:
    n: The starting number.
  """
  while n > 1:
    print(n)
    if n % 2 == 0:
      n = n // 2
    else:
      n = 3 * n + 1


# Start with the number 13
collatz(13)

13
40
20
10
5
16
8
4
2

# 4. Write a Python program to compute the sum of all the multiples of 3 or 5 below 500.

In [ ]:
def sum_of_multiples(limit):

  sum = 0
  for i in range(limit):
    if i % 3 == 0 or i % 5 == 0:
      sum += i

  return sum


# Find the sum of all the multiples of 3 or 5 below 500.
sum = sum_of_multiples(500)

# Print the sum.
print("The sum is", sum)

The sum is 57918

# 5. To write a Python program to find first 'n' prime numbers from a list of given numbers.

In [1]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

def find_primes(n, nums):
    primes = []
    for i, num in enumerate(nums):
        if is_prime(num):
            primes.append(num)
            if len(primes) == n:
                break
    return primes

nums = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
print(find_primes(5, nums))

[2, 3, 5, 7, 11]

# 6.To write a Python program to compute matrix multiplication

In [4]:
def matrix_multiplication(A, B):
    m = len(A)
    n = len(A[0])
    p = len(B[0])
    C = [[0 for i in range(p)] for j in range(m)]
    for i in range(m):
        for j in range(p):
            for k in range(n):
                C[i][j] += A[i][k] * B[k][j]
    return C

A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8], [9, 10], [11, 12]]

C = matrix_multiplication(A, B)

print(C)

[[58, 64], [139, 154]]


# 7. Write a python Function to count the number of vowels in a string.

In [6]:
def count_vowels(str1):
    vowels = "aeiou"
    count = 0
    for char in str1:
        if char in vowels:
            count += 1
    return count

str1 = "This is a string with vowels"

print(count_vowels(str1))

7

# 8. Write a python Function for finding factorial for the given number using a recursive function.

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120


# **9. Write a python Function for generating the Fibonacci series using the function.**

In [8]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

print(fibonacci(10))

55

# 10. Python program to display the given integer in reverse order using the function without an in-built function

In [9]:
def reverse_integer(n):
    rev_num = 0
    while n != 0:
        rev_num = rev_num * 10 + n % 10
        n //= 10
    return rev_num

num = 12345

print(reverse_integer(num))

54321

# 11. Write a Python Function to display all integers within the range 200-300 whose sum of digits is an even number.

In [10]:
def display_even_sum_numbers(start_number, end_number):
    for number in range(start_number, end_number + 1):
        sum_of_digits = 0
        for digit in str(number):
            sum_of_digits += int(digit)
        if sum_of_digits % 2 == 0:
            print(number)

display_even_sum_numbers(200, 300)

200
202
204
206
208
211
213
215
217
219
220
222
224
226
228
231
233
235
237
239
240
242
244
246
248
251
253
255
257
259
260
262
264
266
268
271
273
275
277
279
280
282
284
286
288
291
293
295
297
299

# 12. Write a python Function to find the number of digits and sum of digits for a given integer.

In [11]:
def find_number_of_digits_and_sum(number):
    num_digits = 0
    sum_of_digits = 0
    while number != 0:
        num_digits += 1
        sum_of_digits += number % 10
        number //= 10
    return num_digits, sum_of_digits

number = 12345

num_digits, sum_of_digits = find_number_of_digits_and_sum(number)

print("The number of digits in", number, "is", num_digits)
print("The sum of digits in", number, "is", sum_of_digits)

The number of digits in 12345 is 5
The sum of digits in 12345 is 15

# 13. Write functions called is_sorted that takes a list as a parameter and returns True if the list is sorted in ascending order and False otherwise and has duplicates that takes a list and returns True if there is any element that appears more than once. It should not modify the original list

In [14]:
def is_sorted(list1):
    for i in range(len(list1) - 1):
        if list1[i] > list1[i + 1]:
            return False
    return True

def has_duplicates(list1):
    for i in range(len(list1)):
        for j in range(i + 1, len(list1)):
            if list1[i] == list1[j]:
                return True
    return False

list1 = [1, 2, 3, 4, 5]
print(is_sorted(list1))

list2 = [1, 2, 3, 2, 5]
print(has_duplicates(list2))

True
True

# **14. Write functions called nested_sum that takes a list of integers and adds up the elements from all the nested lists and cumsum that takes a list of numbers and returns the cumulative sum; that is, a new list where the ith element is the sum of the first i + 1 elements from the original list.**

In [20]:
def nested_sum(list1):
    sum = 0
    for sublist in list1:
        sum+= sum(sublist)
    return sum

def cumsum(list1):
    cumsum_list = []
    cumsum = 0
    for num in list1:
        cumsum += num
        cumsum_list.append(cumsum)
    return cumsum_list

list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_sum(list1))

list2 = [1, 2, 3, 4, 5]
print(cumsum(list2))

TypeError: ignored