<a href="https://colab.research.google.com/github/111718105068/ranjith/blob/main/Day_1_practice_excise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LANGUAGE FUNDMANTALS**
  #1.MANIPULATE USING A LIST

In [ ]:
my_list = [1, 2, 3]
new_element = 4     # New element to add
my_list.append(new_element)

In [ ]:
print (my_list)

[1, 2, 3, 4]

In [10]:
my_list = [1, 2, 3, 4, 5]

# Reverse the elements in the list using the reverse() method
my_list.reverse()
print (my_list)

[5, 4, 3, 2, 1]

In [ ]:
original_list = [1, 2, 3]
repeated_list = original_list * 3  # Repeat the list three times

print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

or

In [ ]:
a=[1,2]
b=a*4
print (b)

[1, 2, 1, 2, 1, 2, 1, 2]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenate list
concatenated_list = list1 + list2

print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
a= (1,2)
b=(2,3,4)
print (a+b)

(1, 2, 2, 3, 4)

In [ ]:
a=[9,8,7,4,5,3,1,8]
a.sort()
# Sort the elements in the list in ascending order
print (a)

[1, 3, 4, 5, 7, 8, 8, 9]

#2. WRITE A PYTHON PROGRAM TO DO IT IN TUPLES

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing an element
first_element = my_tuple[0]  # Access the first element (1)

# Tuple unpacking
a, b, c, d, e = my_tuple  # Unpack the tuple into individual variables

# Printing the results
print("Tuple:", my_tuple)
print("First Element:", first_element)
print("Unpacked Variables:", a, b, c, d, e)

Tuple: (1, 2, 3, 4, 5)
First Element: 1
Unpacked Variables: 1 2 3 4 5

In [13]:
tuple1 = (1, 2, 3)

# Add the element 4 to the end of the tuple.
tuple1 = tuple1 + (4,)

print(tuple1)

(1, 2, 3, 4)