<a href="https://colab.research.google.com/github/111718105068/ranjith/blob/main/Day_1_practice_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LANGUAGE FUNDMANTALS**
  #1.MANIPULATE USING A LIST

In [ ]:
my_list = [1, 2, 3]
new_element = 4     # New element to add
my_list.append(new_element)

In [ ]:
print (my_list)

[1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Reverse the elements in the list using the reverse() method
my_list.reverse()
print (my_list)

[5, 4, 3, 2, 1]

In [ ]:
original_list = [1, 2, 3]
repeated_list = original_list * 3  # Repeat the list three times

print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

or

In [ ]:
a=[1,2]
b=a*4
print (b)

[1, 2, 1, 2, 1, 2, 1, 2]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenate list
concatenated_list = list1 + list2

print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
a= (1,2)
b=(2,3,4)
print (a+b)

(1, 2, 2, 3, 4)

In [ ]:
a=[9,8,7,4,5,3,1,8]
a.sort()
# Sort the elements in the list in ascending order
print (a)

[1, 3, 4, 5, 7, 8, 8, 9]

#2. WRITE A PYTHON PROGRAM TO DO IT IN TUPLES

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing an element
first_element = my_tuple[0]  # Access the first element (1)

# Tuple unpacking
a, b, c, d, e = my_tuple  # Unpack the tuple into individual variables

# Printing the results
print("Tuple:", my_tuple)
print("First Element:", first_element)
print("Unpacked Variables:", a, b, c, d, e)

Tuple: (1, 2, 3, 4, 5)
First Element: 1
Unpacked Variables: 1 2 3 4 5

In [ ]:
tuple1 = (1, 2, 3)

# Add the element 4 to the end of the tuple.
tuple1 = tuple1 + (4,)

print(tuple1)

(1, 2, 3, 4)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)

# Reverse the elements of the tuple.
tuple1 = tuple(reversed(tuple1))

print(tuple1)

(5, 4, 3, 2, 1)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)

# Display the elements of the tuple 3 times.
for i in range(3):
    print(tuple1)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples.
tuple3 = tuple1 + tuple2

print(tuple3)

(1, 2, 3, 4, 5, 6)

In [ ]:
tuple1 = [5, 4, 3, 2, 1]

# Sort the elements of the tuple in ascending order.
tuple1.sort()

print(tuple1)

[1, 2, 3, 4, 5]

3**. write a python program to implement the following using list.**

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list1[-1])

10

In [ ]:
print(list1[0:4])

[1, 2, 3, 4]

In [ ]:
print(list1[2:])

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list1[:6])

[1, 2, 3, 4, 5, 6]

**4. write a python program: tuple1 = (10,50,20,40,30)**

In [ ]:
tuple1 = (10, 50, 20, 40, 30)

print(tuple1[0], tuple1[3])

10 40

In [ ]:
print(len(tuple1))

5

In [ ]:
print(min(tuple1))

10

In [ ]:
sum = 0
for i in tuple1:
    sum += i

print(sum)

150

In [ ]:
for i in range(3):
    print(tuple1)

(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

**5. write a python program.**

In [ ]:
str1 = "Hello, world!"

print(len(str1))

13

In [ ]:
str1 = "Hello, world!"

str2 = ""
for i in str1[::-1]:
    str2 += i

print(str2)

!dlrow ,olleH

In [ ]:
str1 = "Hello, world!"

for i in range(3):
    print(str1)

Hello, world!
Hello, world!
Hello, world!

In [ ]:
str1 = "Hello, "
str2 = "world!"

print(str1 + str2)

Hello, world!

In [ ]:
str1 = "south india"

print(str1[5:])

 india

**6. perform the following:**

In [ ]:
dict1 = {"name": "Bard", "age": 100, "species": "large language model"}

In [ ]:
dict1 = {"name": "Bard", "age": 100, "species": "large language model"}

print(dict1["name"])
print(dict1["age"])
print(dict1["species"])

Bard
100
large language model

In [ ]:
def update_dict(dict1, name, age):
    dict1["name"] = name
    dict1["age"] = age

update_dict(dict1, "LaMDA", 12)

print(dict1)

{'name': 'LaMDA', 'age': 12, 'species': 'large language model'}

In [ ]:
dict1 = {"name": "Bard", "age": 100, "species": "large language model"}

dict1.clear()

print(dict1)

{}

## 7 Python program to insert a number to any position in a

In [2]:
nums = [75,65,84,93,75,62,738]

print(nums)

nums.insert(3, 1000)
print(nums)

[75, 65, 84, 93, 75, 62, 738]
[75, 65, 84, 1000, 93, 75, 62, 738]

## **8 Pyton program to delete an element from a list by index**

In [3]:
print(nums)

del nums[5]
print(nums)

[75, 65, 84, 1000, 93, 75, 62, 738]
[75, 65, 84, 1000, 93, 62, 738]

## 9 Write a program to display the numbers from 1 to 100

In [4]:
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10 write a python program to find the sum of all items in a tuple

In [5]:
values = (1, 6,3,4,5,67,2,4,6,5)
print(sum(values))

103

# 11 create a dictionary containing three lambda functions square, cube and square root

In [7]:
import math

# Create a dictionary with lambda functions
calculate = {
    "Square": lambda x: x**2,
    "Cube": lambda x: x**3,
    "Squareroot": lambda x: math.sqrt(x)
}

# Test the functions
number = int(input("Enter a number: "))
sq_res = calculate["Square"](number)
cb_res = calculate["Cube"](number)
sqrt_res = calculate["Squareroot"](number)

# Print the results
print(f"Square of {number} is {sq_res}")
print(f"Cube of {number} is {cb_res}")
print(f"Squareroot of {number} is {sqrt_res}")

Enter a number: 67
Square of 67 is 4489
Cube of 67 is 300763
Squareroot of 67 is 8.18535277187245

# **12 A list of words is given**

In [11]:
ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)

print(ls)
print(res)

['hello', 'Dear', 'hOw', 'ARe', 'You']
['hOw', 'ARe']

## 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula wMoon (wEarth GMoon) / GEarth

In [14]:
# Define the dictionary with names and their weights on Earth
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Constants
GMoon = 1.622
GEarth = 9.81

# Use map and lambda to calculate the weight on the Moon for each person
WeightOnMoon = map(lambda weight: weight * GMoon / GEarth, WeightOnEarth.values())

# Create a dictionary with names and their weights on the Moon
WeightOnMoonDict = dict(zip(WeightOnEarth.keys(), WeightOnMoon))

print("Weight of people on the Moon:")
print(WeightOnMoonDict)

Weight of people on the Moon:
{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

## **#control structures**
# **Write a python program to find the first N Prime numbers**

In [16]:
def first_n_primes(n):
  primes = [2]
  for i in range(3, n + 1):
    if all(i % j != 0 for j in primes):
      primes.append(i)

  return primes

print(first_n_primes(10))

[2, 3, 5, 7]

# Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary

In [17]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate Gross Salary by adding Basic, HRA, TA, and DA
gross_salary = basic_salary + hra + ta + da

# Calculate Tax (10% of Gross Salary)
tax = 0.10 * gross_salary

# Calculate Net Salary (Gross Salary - Tax)
net_salary = gross_salary - tax

# Display Gross and Net Salary
print(f"Gross Salary: {gross_salary}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 20000
Enter HRA: 10000
Enter TA: 5000
Enter DA: 20000
Gross Salary: 55000.0
Net Salary: 49500.0

# Write a python program to search for a string in the given list.

In [20]:
def search_string(list, string):
  return list.index(string)

list = ["apple", "banana", "cherry", "durian"]

string = "banana"

index = search_string(list, string)

if index != -1:
  print("The string " + string + " is found at index " + str(index))
else:
  print("The string " + string + " is not found in the list")

The string banana is found at index 1

# **Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.**

In [21]:
def count_case_letters(input_string):
    upper_count = 0
    lower_count = 0

    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count
input_str = "Hello World"
upper, lower = count_case_letters(input_str)
print("Uppercase letters:", upper)
print("Lowercase letters:", lower)

Uppercase letters: 2
Lowercase letters: 8

# Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [22]:
sum_odd = 0
sum_even = 0

for num in range(12, 38):
    if num % 2 == 0:
        sum_even += num
    else:
        sum_odd += num

print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# Write a python Program to print the table of any number.

In [23]:
num = int(input("Enter a number: "))

print(f"Multiplication Table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 45
Multiplication Table of 45:
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

# Write a Python program to sum the first 10 prime numbers.

In [24]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
number = 2
prime_sum = 0

while count < 10:
    if is_prime(number):
        prime_sum += number
        count += 1
    number += 1

print("The sum of the first 10 prime numbers is:", prime_sum)

The sum of the first 10 prime numbers is: 129

# Write a python program to implement arithmetic operations using nested if statement.

In [27]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

operation = input("Enter an arithmetic operation (+, -, *, /): ")

if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operation"

print(f"Result: {result}")

Enter the first number: 2
Enter the second number: 3
Enter an arithmetic operation (+, -, *, /): +
Result: 5.0

# Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [28]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 34
34.0 degrees Celsius is equal to 93.2 degrees Fahrenheit

# Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [30]:
def max_min(list1):
  max_num = list1[0]
  min_num = list1[0]
  for num in list1:
    if num > max_num:
      max_num = num
    elif num < min_num:
      min_num = num
  return max_num, min_num

list1 = [10, 4, 2, 9, 7]
max_num, min_num = max_min(list1)
print("The maximum number is", max_num)
print("The minimum number is", min_num)

The maximum number is 10
The minimum number is 2