<a href="https://colab.research.google.com/github/111718105068/ranjith/blob/main/Day_1_practice_excise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LANGUAGE FUNDMANTALS**
  #1.MANIPULATE USING A LIST

In [ ]:
my_list = [1, 2, 3]
new_element = 4     # New element to add
my_list.append(new_element)

In [ ]:
print (my_list)

[1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Reverse the elements in the list using the reverse() method
my_list.reverse()
print (my_list)

[5, 4, 3, 2, 1]

In [ ]:
original_list = [1, 2, 3]
repeated_list = original_list * 3  # Repeat the list three times

print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

or

In [ ]:
a=[1,2]
b=a*4
print (b)

[1, 2, 1, 2, 1, 2, 1, 2]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenate list
concatenated_list = list1 + list2

print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
a= (1,2)
b=(2,3,4)
print (a+b)

(1, 2, 2, 3, 4)

In [ ]:
a=[9,8,7,4,5,3,1,8]
a.sort()
# Sort the elements in the list in ascending order
print (a)

[1, 3, 4, 5, 7, 8, 8, 9]

#2. WRITE A PYTHON PROGRAM TO DO IT IN TUPLES

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing an element
first_element = my_tuple[0]  # Access the first element (1)

# Tuple unpacking
a, b, c, d, e = my_tuple  # Unpack the tuple into individual variables

# Printing the results
print("Tuple:", my_tuple)
print("First Element:", first_element)
print("Unpacked Variables:", a, b, c, d, e)

Tuple: (1, 2, 3, 4, 5)
First Element: 1
Unpacked Variables: 1 2 3 4 5

In [ ]:
tuple1 = (1, 2, 3)

# Add the element 4 to the end of the tuple.
tuple1 = tuple1 + (4,)

print(tuple1)

(1, 2, 3, 4)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)

# Reverse the elements of the tuple.
tuple1 = tuple(reversed(tuple1))

print(tuple1)

(5, 4, 3, 2, 1)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)

# Display the elements of the tuple 3 times.
for i in range(3):
    print(tuple1)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples.
tuple3 = tuple1 + tuple2

print(tuple3)

(1, 2, 3, 4, 5, 6)

In [ ]:
tuple1 = [5, 4, 3, 2, 1]

# Sort the elements of the tuple in ascending order.
tuple1.sort()

print(tuple1)

[1, 2, 3, 4, 5]

3**. write a python program to implement the following using list.**

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list1[-1])

10

In [ ]:
print(list1[0:4])

[1, 2, 3, 4]

In [ ]:
print(list1[2:])

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list1[:6])

[1, 2, 3, 4, 5, 6]

**4. write a python program: tuple1 = (10,50,20,40,30)**

In [ ]:
tuple1 = (10, 50, 20, 40, 30)

print(tuple1[0], tuple1[3])

10 40

In [ ]:
print(len(tuple1))

5

In [ ]:
print(min(tuple1))

10

In [ ]:
sum = 0
for i in tuple1:
    sum += i

print(sum)

150

In [ ]:
for i in range(3):
    print(tuple1)

(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

**5. write a python program.**

In [ ]:
str1 = "Hello, world!"

print(len(str1))

13

In [ ]:
str1 = "Hello, world!"

str2 = ""
for i in str1[::-1]:
    str2 += i

print(str2)

!dlrow ,olleH

In [ ]:
str1 = "Hello, world!"

for i in range(3):
    print(str1)

Hello, world!
Hello, world!
Hello, world!

In [ ]:
str1 = "Hello, "
str2 = "world!"

print(str1 + str2)

Hello, world!

In [ ]:
str1 = "south india"

print(str1[5:])

 india

**6. perform the following:**

In [ ]:
dict1 = {"name": "Bard", "age": 100, "species": "large language model"}

In [ ]:
dict1 = {"name": "Bard", "age": 100, "species": "large language model"}

print(dict1["name"])
print(dict1["age"])
print(dict1["species"])

Bard
100
large language model

In [ ]:
def update_dict(dict1, name, age):
    dict1["name"] = name
    dict1["age"] = age

update_dict(dict1, "LaMDA", 12)

print(dict1)

{'name': 'LaMDA', 'age': 12, 'species': 'large language model'}

In [ ]:
dict1 = {"name": "Bard", "age": 100, "species": "large language model"}

dict1.clear()

print(dict1)

{}

In [ ]:
dict1 = {"name": "Bard", "age": 100, "species": "large language model"}
del dict1

In [ ]:
print (dict1)

NameError: ignored

## 7 Python program to insert a number to any position in a

In [2]:
nums = [75,65,84,93,75,62,738]

print(nums)

nums.insert(3, 1000)
print(nums)

[75, 65, 84, 93, 75, 62, 738]
[75, 65, 84, 1000, 93, 75, 62, 738]

## **8 Pyton program to delete an element from a list by index**

In [3]:
print(nums)

del nums[5]
print(nums)

[75, 65, 84, 1000, 93, 75, 62, 738]
[75, 65, 84, 1000, 93, 62, 738]

## 9 Write a program to display the numbers from 1 to 100

In [4]:
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10 write a python program to find the sum of all items in a tuple

In [5]:
values = (1, 6,3,4,5,67,2,4,6,5)
print(sum(values))

103

# 11 create a dictionary containing three lambda functions square, cube and square root

In [7]:
import math

# Create a dictionary with lambda functions
calculate = {
    "Square": lambda x: x**2,
    "Cube": lambda x: x**3,
    "Squareroot": lambda x: math.sqrt(x)
}

# Test the functions
number = int(input("Enter a number: "))
sq_res = calculate["Square"](number)
cb_res = calculate["Cube"](number)
sqrt_res = calculate["Squareroot"](number)

# Print the results
print(f"Square of {number} is {sq_res}")
print(f"Cube of {number} is {cb_res}")
print(f"Squareroot of {number} is {sqrt_res}")

Enter a number: 67
Square of 67 is 4489
Cube of 67 is 300763
Squareroot of 67 is 8.18535277187245

# **12 A list of words is given**

In [11]:
ls = ["hello", "Dear", "hOw", "ARe", "You"]
res = []
for i in ls:
    if i[1].isupper():
        res.append(i)

print(ls)
print(res)

['hello', 'Dear', 'hOw', 'ARe', 'You']
['hOw', 'ARe']