<a href="https://colab.research.google.com/github/111718105068/ranjith/blob/main/Machine_learning_with_python_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('retail_dataset.csv')

# Explore the dataset
print(df.head())  # View the first few rows
print(df.info())  # Data types and non-null values
print(df.describe())  # Summary statistics

   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB
None
             Store  Temperature   Fuel_Price      MarkDown1      MarkDown2  \
count  8190.000000  8190.000000  8190.000000    4032.000000    2921.000000
mean     23.000000    59.356198     3.405992    7032.371786    3384.176594
std      12.987966    18.678607     0.431337    9262.747448    8793.583016
min       1.000000    -7.290000     2.472000   -2781.450000    -265.760000
25%      12.000000    45.902500     3.041000    1577.532500      68.880000
50%      23.000000    60.710000     3.513000    4743.580000     364.570000
75%      34.000000    73.880000     3.743000    8923.310000    2153.350000
max      45.000000   101.950000     4.468000  103184.980000  104519.540000

           MarkDown3     MarkDown4      MarkDown5          CPI  Unemployment
count    3613.000000   3464.000000    4050.000000  7605.000000   7605.000000
mean     1760.100180   3292.935886    4132.216422   172.460809      7.826821
std     11276.462208   6792.329861   13086.690278    39.738346      1.877259
min      -179.260000      0.220000    -185.170000   126.064000      3.684000
25%         6.600000    304.687500    1440.827500   132.364839      6.634000
50%        36.260000   1176.425000    2727.135000   182.764003      7.806000
75%       163.150000   3310.007500    4832.555000   213.932412      8.567000
max    149483.310000  67474.850000  771448.100000   228.976456     14.313000

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Define features and target variable
X = df.drop(columns=['CustomerSatisfaction'])
y = df['CustomerSatisfaction']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the decision tree classifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

# Make predictions
y_pred = classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Define features and target variable
X = df.drop(columns=['Sales'])
y = df['Sales']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the decision tree regression model
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

# Make predictions
y_pred = regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)